

.syllus-main{
    max-width: 1150px;
    margin: auto;
    padding: 20px 0;
    border-radius: 1rem;
    color: var(--primary-color);
}
.mandatory{
    color: red;
    font-size: 12px;
}
.syll-head{
    text-align: center;
    font-size: 3vw;
    /* color: #283593; */
    color: #007aff;
    padding-bottom: 1rem;

}
.filterDataCon{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 20px;
    row-gap: 0px;
    box-shadow: rgba(95, 95, 104, 0.2) 0px 7px 10px 0px;
}
select{
    cursor: pointer;
    margin-top: 5px;
}
.depa-yr-con{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
    justify-content: space-between;
    /* border: 2px solid green; */
    transform: 0.5s;
}
.department{
    /* border: 1px solid black; */
    min-width: 50%;
}
.department select{
    width: 90px;
    width: 90%;
}
.year{
    min-width: 50%;
    /* border: 1px solid blue; */
}
.btn-con{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    
}

.year button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.bran-sem-con{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.branch{
    min-width: 50%;
    /* border: 1px solid palegreen; */
}
.branch select{
    width: 50%;
    
}
.semester{
    /* border: 1px solid blueviolet; */
    min-width: 50%;
}
.semester select{
    width: 50%;
}
.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */

}

.submit-btn button{
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #007aff;
    border-color: #001aff;
    margin-right: 180px;
    margin-top: 10px;
}
.submit-btn button:hover{
    transition: 0.5s;
    box-shadow: inset 1px -1px 8px rgb(159, 159, 159);
}
.selectedResult{
    /* border: 2px solid aqua; */
    padding: 20px;
    
}
.resultCard{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    max-width: 900px;
    margin: auto;
    justify-content: space-between;
    border:0.1rem solid rgb(223, 213, 213);

}
.con1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.download-option{
    display: flex;
    align-items: center;
}

/*  Responsiveness  CSS Syllabus Page*/


@media screen and (max-width:743px){
    .submit-btn{
        padding: 0 20px;
        width: 100%;
    }
    .submit-btn button{
        margin-left: 1px;
    }
}
@media screen and (max-width:600px) {
    .syll-head{
        font-size: 8vw;
    }
    .depa-yr-con,.bran-sem-con{
        flex-wrap: wrap;    
        row-gap: 20px;        
    }
    .branch,.semester,.year,.department{
        min-width: 100%;
    }
}   