.mainTeamContainer{
    /* border:1px solid black; */
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;

}
.mainTeamContainer {
    /* text-align: center;  */
    margin-bottom: 10px;
}
.headparacon{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.teamhead{
    font-size: 3vw;
    text-align: center;
    color: #007aff;
}
.submaintmcon{
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.teampara{
    text-align: center;
}