.syllus-main{
    max-width: 1150px;
    margin: auto;
}
.filterDataCon{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

    padding: 20px;
    row-gap: 20px;
}
select{
    cursor: pointer;
}
.depa-yr-con{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
    /* border: 2px solid green; */
}
.department{
    /* border: 1px solid black; */
    width: 50%;
}
.department select{
    width: 90px;
    width: 90%;
}
.year{
    width: 50%;
    /* border: 1px solid blue; */
}
.btn-con{
    display: flex;
    gap: 20px;
}
.year button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.bran-sem-con{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.branch{
    width: 50%;
    /* border: 1px solid palegreen; */
}
.branch select{
    width: 50%;
    
}
.semester{
    /* border: 1px solid blueviolet; */
    width: 50%;
}
.semester select{
    width: 50%;
}
.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}.submit-btn button{
    padding: 10px;
}
.selectedResult{
    /* border: 2px solid aqua; */
    padding: 20px;
}
.resultCard{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    max-width: 900px;
    margin: auto;
}