.card{
    background-color: var(--colorw);
    padding: 30px;
    text-align: left;
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.bene-card-para{
    line-height: 30px
}