.card{
    background-color: var(--colorw);
    padding: 23px;
    text-align: left;
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(95, 95, 104, 0.2) 0px 7px 10px 0px;
    border-radius: 20px;
    transition: 2s;
    border: 1px solid rgba(95, 95, 104, 0.2) ;
    
}

.card h4,p{
    color: black;
    text-decoration: none;
}
.bene-card-para{
    line-height: 30px
}
.card:hover{
    box-shadow: 0px 7px 20px  0px rgba(152, 152, 152);
}
.card:nth-child(4) {
    /* grid-column: 2 / 3; */
}
@media screen and (max-width:581px){
    .card:nth-child(4) {
        grid-column: 1/2;
    }
    
}