footer{
    background-color: #f4faff;
}
.footer-links{
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    column-gap: 40px;
    max-width: 1300px;
    margin: auto ;
    line-height: 38px;
    align-items: center;
    /* border: 2px solid red; */
    justify-items: center;
}
.devider{
    width: 50%;
    margin: auto;
    border-radius: 50%;
}
.ftrlogo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ftrlogo img{
    width: 40px;
    filter: drop-shadow(2px 2px 3px gray);
}
.footer-con p{
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-con{
    padding-right:  40px;
    
}
.footer-childs ul li a{
    text-decoration: none;
    color: #000;
}
.footer-childs h2{
    font-size: 18px;
    margin-bottom: 20px;
    color: #007aff;

}
.footer-childs ul{
    list-style: none;
    line-height: 38px;
}
.socio-links a img{
    width: 30px;
    margin-right: 20px;
}
.socio-links a img:hover{
    fill: var(--color-btn);
}
@media screen and (max-width: 958px){
    .footer-con p{
        font-size: 15px;
    }
}
@media screen and (max-width: 468px){
    .footer-links {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 20px;
        padding: 0 50px;
        justify-items: self-start;
        margin-bottom: 30px;

    }
    .devider{
        width: 80%;
    }
}
.cpyr{
    text-align: center;
    margin-bottom: 20px;
    padding : 0 20px ;
}

