*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: #56affa;
    /* background-color: #4fbffe; */
    color: white;
    padding: 15px;
    /* width: 100%; */
    overflow: hidden;
}
.flexcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    row-gap: 20px;
}
.svvvLogo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.svvvLogo img{
    width: 30px;
}
.Pname{
    font-size: 24px;
}
.NavigationLinks{
    display: flex;
    align-items: center;
    column-gap: 20px;
    
}
.navlink{
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    opacity: 0.8;
    transition: 1s;
}
.navlink:last-child{
    /* background-color: aquamarine; */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
}

.mobileNav{
    position: absolute;
    width:100%;   
    left: 0;
    top: 65px;
    height: 100vh;
    background-color: white;
}
.mob-navLinkcon{
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 20px;
}
.mobileNav span{
    color: black;
}
.mobnavlink{
    padding: 10px;
    text-align: center;
}
.mobnavlink:last-child{
    background-color: #56affa;
    color: white;
    font-weight: bold;
}
/* Responsiveness */
@media screen and (max-width:665px) {
    .flexcon{
        justify-content: center;
    }
    .Pname{
        font-size: 19px;
    }
}
@media screen and (max-width:581px){
    .flexcon{
        padding: 0 10px;
        justify-content: space-between;
    }
    .NavigationLinks{
        display: none;
    }   
}
@media screen and (min-width:581px){
    .Menu{
        display: none;
    }
}
.navlink:hover{
    opacity: 1;
    
}
