.memberCard{
    /* border: 1px solid red; */
    padding: 30px 25px;
    column-gap: 20px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
    border: 1px solid rgba(95, 95, 104, 0.2) ;
}
.subMemberCard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* box-shadow: 2px 2px 10px black; */
}
.memberImage{
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    align-content: center;
}
.memberImage img{
    width: 100%;
    border-radius: 50%;
}
.memberDetail{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.teamSocioAcc{
    display: flex;
    column-gap: 10px;
}
@media screen and (max-width:800px) {
    .subMemberCard{
        flex-wrap: wrap;
    }
}