.search{
    margin-top: 20px;
    
}
.searchhead{
    text-align: center;
    font-size: 3vw;
    /* color: #283593; */
    color: #007aff;
    padding-bottom: 1rem;
}
.search-input{
    display: flex;
    justify-content: center;
}
.fac-srch-input-fld{
    padding: 10px 10px;
    border-radius: 50px;
    border: none;
    border: 2px solid gray;
    width: 80vh;
    background-color: var(--primary-bg);
    color: var(--primary-color);
}
.resultContainer{
    padding: 30px 0;
    /* width: 100vw; */
    /* height: 60vh; */
    min-height: 60vh;
    /* height: 50vh; */
    /* text-align: center; */
    /* border: 2px solid green; */
    transition: 0s;
}
.search-results{
    max-width: 1200px;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    gap: 20px;
    
}
.faculty-card{
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: var(--primary-color);
}

.facul-img-srch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facul-img-srch img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 2px solid red; */
}
.fac-name{
    text-align: center;
    color: var(--primary-card-heading);
    margin: 3px 0 3px 0;
}
.facul-flex-info-con{
    display: flex;
    
    gap: 15px;
}
.DcE-con,.Dlc-con{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.othermsgres{
    text-align: center;
}
.faculty-expertise{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
    flex-wrap: wrap;
} 

.faculty-expertise p{
    background-color: rgb(224 231 255 /1);
    padding: 4px 10px;
    border-radius: 20px;
    color: rgb(55 48 163 / 1);
    font-size: 15px;
}

@media screen and (max-width:570px) {
    input{
        width: 75vw;
    }
}   
@media screen and (max-width:796px) {
    .search-results{
        grid-template-columns: repeat(1,1fr);
    }
    .faculty-expertise{
        font-size: medium;
    }
}   
@media screen and (max-width:480px) {
    .facul-flex-info-con{
        flex-wrap: wrap;
    }
    .searchhead{
        font-size: 7vw;
    }
    .resultContainer{
        min-height: 65vh;
    }
}
.cabinFullCard{
    padding: 3.5px 7px;
    color: red;
    font-size: 10px;
    margin-left: 5px;
    font-weight: bolder;
    background-color: rgb(249, 183, 183);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}